.chatBox {
    /* display: flex; */
}
.wrapperMessage {
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
}
span {
    display: flex;
    padding-right: 30px;
    padding-left: 30px;
    width: 100%;
    height: 180px;
}
